/* Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Variable */
:root {
  /* color */
  /* Primary color */
  --color-primary: #007947;
  --color-primary-dark1: #005b35;
  --color-primary-dark2: #003d24;
  --color-primary-dark3: #001e12;
  --color-primary-light1: #33946c;
  --color-primary-light2: #66af91;
  --color-primary-light3: #99c9b5;

  /* Secondary Color */
  --color-secondary: #9bcc50;
  --color-Secondary-dark1: #74993c;
  --color-Secondary-dark2: #4e6628;
  --color-Secondary-dark3: #273314;
  --color-secondary-light1: #afd673;
  --color-secondary-light2: #c3e096;
  --color-secondary-light3: #d7ebb9;

  /* font Color */
  --color-font-dark: #000000;
  --color-font-light1: #cce4da;
  --color-font-light2: #ebf5dc;

  /* font */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Quicksand", sans-serif;
}

/* Reset Browser */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px */
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
}
img {
    max-width: 100%;
  }